<div class="col-3 my-2">
    <button 
        id="template-{{id}}" 
        type="button" 
        class="btn btn-secondary goal-template" 
        data-mdb-toggle="modal" 
        data-mdb-target="#continueGoalForm"
    >
    Add "{{goal_name}}"
    </button>
    
</div>