<!-- Modal -->
<div
  class="modal fade"
  id="createCategory"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="createCategoryLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCategoryLabel">Add Category</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-12">
              <div class="form-outline">
                  <input type="text" class="form-control" id="category-name" />
                  <label for="categoryName" class="form-label">Category Name</label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-mdb-dismiss="modal" id="submit-category-btn">Submit</button>
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
      </form>
      </div>

    </div>
  </div>
</div>