<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <title>Goal Tracker</title>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1 class="text-center">
      <a href="/" style="color:#4f4f4f">
        Goal Tracker
      </a>
    </h1>
    {{#if loggedIn}}
    <nav class="text-center">
      <button class="btn btn-primary" id="add-category-btn" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">Add Category</button>
      <button class="btn btn-primary" id="add-goal-btn">Add Goal</button>
      <button class="btn btn-primary" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
    {{> create-category}}
  </main>
  <footer>
      
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/home.js"></script>
  {{/if}}
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</body>

</html>
