.nav-link:hover {
  cursor: pointer;
  opacity: .75;
}

.active {
  border-color: #386bc0 !important;
}

pre {
  white-space: pre-wrap;
}

@media (max-width: 575px) {
  .goal-div, .goal-info {
    width: 100% !important;
  }
  
  .chart-container {
    display: none;
  }
}